*.pem
*.endpoint
*.swp
**/*.zip
script.txt
test.json

provisioning/lambda/bin/
provisioning/lambda/certifi/
provisioning/lambda/certifi-2020.4.5.1.dist-info
provisioning/lambda/cffi/
provisioning/lambda/cffi-1.14.0.dist-info/
provisioning/lambda/chardet/
provisioning/lambda/chardet-3.0.4.dist-info/
provisioning/lambda/cryptography/
provisioning/lambda/cryptography-2.9.dist-info/
provisioning/lambda/enum/
provisioning/lambda/enum34-1.1.10.dist-info/
provisioning/lambda/geographiclib/
provisioning/lambda/geographiclib-1.50.dist-info/
provisioning/lambda/geopy/
provisioning/lambda/geopy-1.21.0.dist-info/
provisioning/lambda/idna/
provisioning/lambda/idna-2.9.dist-info/
provisioning/lambda/ipaddress-1.0.23.dist-info/
provisioning/lambda/ipaddress*
provisioning/lambda/OpenSSL/
provisioning/lambda/pycparser/
provisioning/lambda/pycparser-2.20.dist-info/
provisioning/lambda/pyOpenSSL-19.1.0.dist-info/
provisioning/lambda/requests/
provisioning/lambda/requests-2.23.0.dist-info/
provisioning/lambda/six-1.14.0.dist-info/
provisioning/lambda/six*
provisioning/lambda/urllib3/
provisioning/lambda/urllib3-1.25.9.dist-info/
provisioning/lambda/_cffi_backend.so





